.text{
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Microsoft Sans Serif'; 
}

.pane {
    -fx-background-color: #1d2326;
}

.label {
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-font-size: 25px;
}

.button {
    -fx-background-radius: 0px;
    -fx-background-color: #1d2326; /*DEDEDE*/
    -fx-text-fill: #ecf0f1;
    -fx-font-family: 'Microsoft Sans Serif';
}

.button:hover {
    -fx-background-color: #FA9600; /*#1d2326;*/
    -fx-text-fill: #1d2326;/*#ecf0f1;*/
}

.vyber-tovar-kosika-button {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.combo-box .list-cell {
    -fx-text-fill: #1d2326;
    -fx-font-size: 20px;
}

.text-field {
    -fx-background-radius: 0px;
    -fx-border-color: #1d2326;
    
}

.text-area {
    -fx-border-color: #1d2326;
    -fx-background-radius: 0px;
    -fx-highlight-fill: yellow;
    -fx-highlight-text-fill: yellow;
}

.text-area:focused {
     -fx-highlight-fill: yellow;
    -fx-highlight-text-fill: red;
}


#button-login-reg {
    -fx-text-fill: #ecf0f1;
    -fx-background-color: transparent;
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-font-size: 28px;
}

#button-login-reg:hover {
    -fx-text-fill: #FA9600;
}

#label-back {
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 28px;   
}

#label-back:hover {
    -fx-text-fill: #FA9600;
}

#label-odhlasit {
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 25px;
}

#label-odhlasit:hover {
    -fx-text-fill: #FA9600;
}

#label-specifikacia-tovaru {
    -fx-font-size: 35;
}

.text-field.chyba {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

/*Znacky a kategorie combo box */
.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: transparent;
}
/* #03d9d9 - tyrkys */
.combo-box-base:hover.kategorie-znacky .list-cell {
    -fx-text-fill: #FA9600;
}

.combo-box.kategorie-znacky .list-cell {
    -fx-text-fill: #ecf0f1;
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-font-size: 28px;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-text-fill: #1d2326;
    -fx-font-family: 'Microsoft Sans Serif';
    -fx-font-size: 24px;
    -fx-background-color: #ecf0f1;
}

.combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #dedede;
}

.combo-box .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

.combo-box .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.combo-box .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

.combo-box .scroll-bar:vertical:hover .track,
.combo-box .scroll-bar:vertical:pressed .track{
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.combo-box .scroll-bar .thumb:hover,
.combo-box .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.combo-box .increment-button:hover ,
.combo-box .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
    -fx-border-color:derive(gray,80%); 
    -fx-padding:10px;
}


/* Administracia tab pane */

.tab-header-background {
    -fx-background-color: #1d2326;
    -fx-background-size: 2000px, 200px;
}

.tab-pane
{
    -fx-tab-min-width: 110px;
}


/* Tovar pagination */
.pagination .pagination-control .number-button {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-border-color: #1d2326;
}

.pagination .pagination-control .number-button:hover {
    -fx-text-fill: #FA9600;
}

.pagination .pagination-control .number-button:selected {
    -fx-background-color: #1d2326;
    -fx-text-fill: #ecf0f1;
}

.pagination .pagination-control .left-arrow-button,
.pagination .pagination-control .right-arrow-button{
    -fx-background-color: transparent;  
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #1d2326;
}

.pagination .control-box {
    -fx-spacing: 8;
}

/* Tabuľky */
.table-view .table-row-cell {
    -fx-border-width: 0;
}

.table-view {
    -fx-table-cell-border-color: #1d2326;
    -fx-border-width: 0;
    -fx-background-color: #FFFFFF;
}

.table-view .column-header-background{
    -fx-background-color: DEDEDE;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 35;
    
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #1d2326;
}

.anchor-pane {
    -fx-background-color: #FFFFFF;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
     -fx-background-color: FA9600;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab {
     -fx-background-color: DEDEDE;
}


.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-style: segments(0.166667em, 0.166667em);
     -fx-border-width: 1;
     -fx-border-color: transparent;
}